* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
  min-width: 320px;
}

.navigation {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 320px;
  min-height: 75px;
  background-color: #eee;
   
  padding: 0 20px;
}

.navigation__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-top: 15px;
}

.navigation__logo {
  width: 100%;
  
  max-width: 300px;
}

.navigation__bar {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 50px;
  margin-top: 10px;
}

.navigation__link {
  padding-bottom: 5px; 
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 150px;
}

.newsletter__title {
  margin-bottom: 20px;
  text-align: center;
}

.newsletter__field {
  padding: 5px;
  min-width: 275px;
}

.button {
  height: 30px;
  margin: 15px 0;
  padding: 0 20px;
  
  cursor: pointer;

  border: none;
  border-radius: 2px;
  background-color: #f1c40f;
  font-size: 1rem;
}

.button--get-started {
  font-weight: 900;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  height: 150px;
}

.fas {
  font-family: FontAwesome;
  font-size: 3rem;
  font-style: normal;

  color: darkorange;

  display: none; /* Mobile first design - the icon is not visible on mobile screens. Will change this property in @media */
}

.video__container {
  display: flex;
  max-width: 560px;
  justify-content: center;
  margin: 0 auto;
}

.package__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 50px;
}

.package {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  margin: 0 auto 10px auto;

  border: 1px solid #000;
  border-radius: 2px;
}

.package__title {
  background-color: #ddd ;
  font-size: 1rem;
  padding: 15px 0;
}

.package__price {
  margin-top: 15px;
}

.package__list {
  list-style: none;
  margin: 15px 0;
}

.package__item {
  padding: 5px 0;
}

.package__select {
  margin: 15px 0;
  padding: 0 20px;
  background-color: #f1c40f;
  height: 40px;
  font-size: 1rem;
  cursor: pointer;
}

.button--select {
  align-self: center;
  height: 40px;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: right;
  
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 30px;
  background-color: #dddddd;
}

.footer__navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  list-style: none;  
}

.footer__nav-item {
  padding: 0 10px;
}

.footer__copyright {
  font-size: 0.9rem;
  color: #444444;
  margin-top: 5px;
}

@media only screen and (min-width: 551px) {
  .fas {
    display: flex;
  }

  .features {
    flex-direction: row;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .features__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 125px;
    width: 20%;
  }

  .features__titlesub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;

    height: 125px;
    width: 80%;
  }
}

@media only screen and (min-width: 601px) {
  .navigation {
    flex-direction: row;
    justify-content: space-around;
  }

  .navigation__logo-container {
    width: 45%;
  }
}

@media only screen and (min-width: 651px) {
  
  .navigation {
    justify-content: space-between;
  }
  
  .navigation__bar {
    flex-direction: row;
    justify-content: space-around;
      
    width: 35vw;
    padding: 0;
  }

  .navigation__link {
    padding: 0;
  }

  .navigation__logo-container {
    width: 100%;
    justify-content: left;
  }
}

@media only screen and (min-width: 801px) {
  
  .package__container {
    flex-direction: row;
    justify-content: center;
  }

  .package {
    margin: 10px;
  }
}